<%
  $prev = ''
  $next = "javascript:document.getElementById('new_ranking').submit();"
%>

<%= image_tag @game.image.file, :class => "game_image" %>

<nav>
  <ul>
    <li class="ss-icon previous">
      <%= link_to "previous", $prev %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", $next %>
    </li>
  </ul>
  <h1>Choose your colors</h1>
</nav>

<script>
  $(document).ready(function() {
    $('#colorpicker1').farbtastic('#color1');
    $('#colorpicker1').addTouch();
    $('#colorpicker1').css("display", "none");
    $('#colorpicker2').farbtastic('#color2');
    $('#colorpicker2').addTouch();
    $('#colorpicker2').css("display", "none");
    $('#colorpicker3').farbtastic('#color3');
    $('#colorpicker3').addTouch();
    $('#colorpicker3').css("display", "none");
    $('#colorpicker4').farbtastic('#color4');
    $('#colorpicker4').addTouch();
    $('#colorpicker4').css("display", "none");
    $('#color1').click(function() {
      $('#colorpicker1').css("display", "inline-block");
      $('#colorpicker2').css("display", "none");
      $('#colorpicker3').css("display", "none");
      $('#colorpicker4').css("display", "none");
    });
    $('#color2').click(function() {
      $('#colorpicker1').css("display", "none");
      $('#colorpicker2').css("display", "inline-block");
      $('#colorpicker3').css("display", "none");
      $('#colorpicker4').css("display", "none");
    });
    $('#color3').click(function() {
      $('#colorpicker1').css("display", "none");
      $('#colorpicker2').css("display", "none");
      $('#colorpicker3').css("display", "inline-block");
      $('#colorpicker4').css("display", "none");
    });
    $('#color4').click(function() {
      console.log("switched!");
      $('#colorpicker1').css("display", "none");
      $('#colorpicker2').css("display", "none");
      $('#colorpicker3').css("display", "none");
      $('#colorpicker4').css("display", "inline-block");
    });
    $('#color1').on("change", function () {
      console.log("changed!");
      console.log($(this).css("background-color"));
    });
  });  
</script>

<%= render 'form_rankings' %>

<div class="colorpicker closed" id="colorpicker1"></div>
<div class="colorpicker closed" id="colorpicker2"></div>
<div class="colorpicker closed" id="colorpicker3"></div>
<div class="colorpicker closed" id="colorpicker4"></div>

