<!-- +TODO REPLACE WITH USER'S ACTUAL NAME -->

<div id="container" class="dashboard">

  <div class="overview">
    <h3>
      Hello, <strong>Named</strong>!
    </h3>
    <%= link_to "games/new", id: 'new_game' do %>
      <button>
        <i class="ss-icon">columns</i>
        <span>New game</span>
      </button>
    <% end %>
  </div>

  <hr>

  <ul class="respond-to">
    <h2>Respond to your games with</h2>
    <% for i in 0..3 %>
    <li>hi</li>
    <% end %>
  </ul>

  <hr>

  <ul class="waiting-from">
    <h2>Waiting to hear back from</h2>
    <% for i in 0..5 %>
      <li>ho</li>
    <% end %>
  
</div>