<div id="container">

  <div id="user">
    <div class="facebook-profile-picture"></div>
    <div class"profile">
      <h3>Hello, <strong><%= # current_user.name %></strong>!</h3>
      <%= # link_to "Sign out", signout_path, id: "sign_out" %>
    </div>
  </div>

  <a href="challenge/new" id="new-challenge">
    New challenge
  </a>


  <div id="current-challenges">
    <h3>Current challenges</h3>
  </div>
  

</div>