<div id="container">

<h1 class="welcome">Rothko</h1>
<div>
  <p class="intro">Rothko is a color game you can play with friends. Share photos and compete to pick the best colors out of your world!</p>
  <a href="/">
    <button>
      <i class="ss-icon">facebook</i>
      <span>Sign up</span>
    </button>
  </a>
</div>

</div>