<%
  $prev = ''
  $next = '/'
  $your_colors = ['#e4b811', '#fe9f3f', '#f8d29b', '#d82a0e']
  $rothko_colors = ['#c81a0e', '#d1a81f', '#f4d6a9', '#f2d236']
  $friend_colors = ['#c80e15', '#e8c68c', '#eade1a', '#ecb227']
%>

<% # @@@@@ # %>

<nav>
  <ul>
    <li class="ss-icon previous">
      <%= link_to "previous", $prev %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", $next %>
    </li>
  </ul>
  <h1>Score</h1>
</nav>

<ul class="your-colors">
  <% $your_colors.each do |color| %>
    <li style="background-color: <%= color %>">
      &nbsp;
    </li>
  <% end %>
</ul>

<ul class="friend-colors">
  <% $friend_colors.each do |color| %>
    <li style="background-color: <%= color %>">
      &nbsp;
    </li>
  <% end %>
</ul>