<%
  $prev = ''
  $next = '/'
  $your_colors = ['#e4b811', '#fe9f3f', '#f8d29b', '#d82a0e']
  $rothko_colors = ['#c81a0e', '#d1a81f', '#f4d6a9', '#f2d236']
  $friend_colors = ['#c80e15', '#e8c68c', '#eade1a', '#ecb227']
%>

<% # @@@@@ # %>

<nav>
  <ul>
    <li class="ss-icon previous">
      <%= link_to "previous", $prev %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", $next %>
    </li>
  </ul>
  <h1>Choose your colors</h1>
</nav>

<ul>
  <% $your_colors.each do |color| %>
    <li style="background-color: <%= color %>"></li>
  <% end %>
</ul>

<!-- 
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  < %= @result.user_id %>
</p>

<p>
  <strong>Ranking:</strong>
  < %= @result.ranking_id %>
</p>

<p>
  <strong>Score:</strong>
  < %= @result.score %>
</p>

< %= link_to 'Edit', edit_result_path(@result) %> |
< %= link_to 'Back', results_path %>
 -->