<!-- +INFO DISPLAY PERSON'S FACEBOOK FRIENDS -->

<!-- +TODO SET UP MODAL TO CONFIRM -->
<!-- +TODO SET UP FORM TO SEND WHICH FRIEND IT IS -->

<!-- +LINK FORWARD TO PHOTO.HTML.ERB -->

<%
  $profile_picture =  'placeholder-you.png'
  $prev = 'dashboard'
  $next = 'games/photo'
%>

<nav>
  <ul>
    <li class="ss-icon previous">
      <%= link_to "previous", "/" %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", "/" %>
    </li>
  </ul>
  <h1>Choose a challenger</h1>
</nav>

<ul class="friends-list large">
  <% for i in 1..8 %>
    <li>
      <!-- < % link_to 'confirm' do %> -->
        <figure>
          <%= image_tag  'placeholder-friend.png' %>
        </figure>
      <!-- < % end %> -->
    </li>
  <% end %>
</ul>

<ul class="friends-list small">
  <% for i in 1..8 %>
    <li>
      <!-- < % link_to 'confirm' do %> -->
        <figure>
          <%= image_tag  'placeholder-friend.png' %>
        </figure>
      <!-- < % end %> -->
    </li>
  <% end %>
</ul>

<!-- < % = render 'form' %> -->

<!-- < % = link_to 'Back', games_path %> -->
