<!-- +INFO BOTH PLAYER'S NAMES -->
<!-- +INFO GAME'S IMAGE -->
<!-- +INFO COLORS AND SCORES FOR EACH PLAYER FOR THE GAME -->

<!-- +TODO STYLING FOR LAYOUT -->

<!-- +LINK BACK TO THE DASHBOARD -->
<!-- +LINK TO SHARE ON FACEBOOK -->

<div id="your-colors">
  <h3>Score: XXX</h3>
  <ul class="palette">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div id="canonical-colors">
  <ul class="palette">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div id="their-colors">
  <h3>Score: XXX</h3>
  <ul class="palette">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<% link_to "back home" "home/dashboard" %>