/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "foundation";
@import "compass";
@import "type/ss-social-regular";
@import "type/ss-standard";


body {
  color: #333;
  font-size: 10px;
}

.clear {
  clear: both;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.0);
}

nav {
  ul {
    list-style-type: none;
    font-size: 30px;
  }
  ul, li {
    margin: 0;
  }
  ul {
    padding: 0.5em 0.5em 0;
  }
  .previous, .next {
    @include single-box-shadow(0, 3px, 5px, 2px, 
      rgba(0, 0, 0, 0.2));
    background-color: #fff;
    border: rgba(0, 0, 0, 0.2);
    @include border-radius(50px);
  }
  a:link, a:visited {
    color: #aaa;
    @include transition(all, 1s)
  }
  a:hover, a:active {
    color: #888;
  }
  .previous {
    padding: 13px 23px 7px 17px;
    float: left;
  }
  .next {
    padding: 13px 17px 7px 23px;
    float: right;
  }
  h1 {
    @include single-text-shadow(0, 1px, 3px, 
      rgba(0, 0, 0, 0.2));
    color: white;
    font-size: 2.3em;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0.2em auto 0;
    text-align: center;
    width: 40%;
  }
  height: 10em;
}

body.home.index {
  background-color: #eee;
  margin: 0;
  padding: 0;
  #container {
    background-color: #fff;
    margin: 10%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  button {
    @include single-box-shadow(0, 3px, 5px, 0,
      rgba(0, 0, 0, 0.3));
    @include transition(all 1s);
    color: #fff;
    font-size: 3em;
    padding: 0.4em 1em 0.3em 1em;
    text-decoration: none;
    vertical-align: top;
    i {
      display: block;
      float: left;
      padding-right: 1em;
    }
    span {
      display: block;
      float: right;
      text-transform: lowercase;
    }
    &:hover, &:active {
      @include single-box-shadow(0, 3px, 5px, 0,
      rgba(0, 0, 0, 0.1));
    }
  }
  .signin {
    padding: 5%;
    h1 {
      font-size: 6em;
      text-transform: lowercase;
      letter-spacing: 1px;
      margin: 2em 0 1.5em;
      font-weight: bold;
    }
    p {
      font-size: 2em;
      width: 80%;
      margin: 0 auto 4em;
    }
    button {
      @include background-image(radial-gradient(100px 100px, 
        darken(#4DA9F0, 7%) 50px, darken(#3599E6, 7%) 100px));
      @include transition(all 1s);
      i {
        font-family: 'SSSocialRegular'
      }
      &:hover, &:active {
        @include background-image(radial-gradient(100px 100px, 
          #4DA9F0 50px, #3599E6 100px));
      }
    }
  } /* signin */
  .dashboard {
    margin: 10%;
    text-align: center;
    button {
      @include background-image(radial-gradient(100px 100px, 
        darken(#FF6B8E, 7%) 50px, darken(#F74A73, 7%) 100px));
      @include transition(all 1s);
      padding: 1.5em 1em;
      width: 100%;
      &:hover, &:active {
        @include background-image(radial-gradient(100px 100px, 
          #FF6B8E 50px, #F74A73 100px));
      }
    }
    ul {
      list-style-type: none;
      margin: 0 0 1em;
    }
    h2 {
      color: rgba(0, 0, 0, 0.6);
      font-size: 3em;
      margin: 1em 0.5em;
    }
    li {
      @include single-box-shadow(0, 3px, 5px, 0,
        rgba(0, 0, 0, 0.3));
      background-color: #fff;
      border-collapse: collapse;
      display: table;
      margin-bottom: 1em;
      width: 100%;
      &last-child {
        margin-bottom: 0;
      }
      a {
        display: table-row;
        overflow: hidden;
      }
      .friend-image {
        display: table-cell;
        vertical-align: middle;
        width: 30%;
        padding-right: 2em;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .game-text {
        font-size: 1.5em;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        width: 70%;
        h4 {
          color: #666;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  } /* dashboard */
}

body.games.new {
  background-color: #fff;
  form {
    display: none;
  }
  section {
    background: image-url('palette-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    position: fixed;
      top: 0;
    width: 100%;
    z-index: 100;
    figure {
      color: #fff;
      display: block;
      font-weight: 300;
      text-align: center;
      img {
        margin: 3em auto 1em;
        max-height: 20em;
      }
      p {
        font-size: 1.8em;
        margin: 0.5em auto 0;
      }
    }
  }
  .friends {
    margin-top: 40em;
    background-color: #fff;
  }
  .friends-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      overflow: hidden;
      position: relative;
      a, a img {
        display: block;
        width: 100%;
      }
      a img {
        max-width: 100%;
      }
    }
  }
  .friends-list.large {
    li {
      width: -webkit-calc(100% / 4);
      width: calc(100% / 4);
    }
  }
  .friends-list.small {
    li {
      width: -webkit-calc(100% / 8);
      width: calc(100% / 8);
    }
  }
}

body.images.new {
  background: image-url('palette-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  form {
    margin: 10em auto;
    label {
      font-size: 2em;
    }
    .input.file {
      @include single-box-shadow(0, 3px, 5px, 0,
      rgba(0, 0, 0, 0.3));
      background-color: #fff;
      
      margin: 10%;
      padding: 3em 2em;
      text-align: center;
      @include background-image(radial-gradient(100px 100px, 
        darken(#FF6B8E, 7%) 50px, darken(#F74A73, 7%) 100px));
      @include transition(all 1s);
      color: #fff !important;
      &:hover, &:active {
        @include background-image(radial-gradient(100px 100px, 
          #FF6B8E 50px, #F74A73 100px));
      }
    }
    #image_file {
      display:  none;
    }
  }
  .form-actions-min {
    display: none;
  }
}

body.rankings.new {
  overflow: hidden;
  nav {
    position: absolute;
    top: 0;
    width: 100%;
  }
  section {
    background: image-url('palette-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .game_image {
    display: block;
    margin: 0 auto;
  }
  #user_palette {
    margin: 0;
    padding: 0;
    input {
      border: none;
      color: rgba(0, 0, 0, 0);
      display: inline-block;
      padding: 0;
      width: -webkit-calc(100% / 4);
      width: calc(100% / 4);
      float: left;
      height: 30em;
    }
  }
  .colorpicker {
    display:inline-block;
  }
  #colorpicker1 .farbtastic {
    position: absolute;
    bottom: 5em;
    left: 8em;
  }
  #colorpicker2 .farbtastic {
    position: absolute;
    bottom: 5em;
    left: 15em;
  }
  #colorpicker3 .farbtastic {
    position: absolute;
    bottom: 5em;
    right: 15em;
  }
  #colorpicker4 .farbtastic {
    position: absolute;
    bottom: 5em;
    right: 8em;
  }
  .colorpicker {
    .closed {
      display: none;
    }
  }
}