<!-- +INFO PERSON'S FACEBOOK -->

<%  
  $name = 'Adaline Yu'
  $profile_picture =  'placeholder-you.png'
  $next = 'games/new'
%>

<!-- @@@ -->

<div id="container">

  <div id="user">
    <%= image_tag $profile_picture_url %>
    <h3>Hello, <%= $name %>!</h3>
  </div>

  <a href="<%= $next %>" id="new-challenge">
    New challenge
  </a>


  <div id="current-challenges">
    <h3>Current challenges</h3>
  </div>

  <a href="games/new.html"

</div>