<!-- +TODO FACEBOOK CONNECT -->

<div id="container">

<h1>Rothko</h1>
<div>
  <p>Rothko is a color game you can play with friends. Share photos and compete to pick the best colors out of your world!</p>
  <%= link_to "/auth/facebook", id: "sign_in" do %>
    <button>
      <i class="ss-icon">facebook</i>
      <span>Sign up</span>
    </button>
  <% end %>
</div>

</div>