<%= simple_form_for @image, url: 'photo' do |f| %>
  <%= f.input :file, :as => :file, :label => "Upload a picture" %>
  <%= f.input :game_id, :as => :hidden, :input_html => { value: @game.id } %>
  <!-- place submit button -->
  <div class="form-actions-min">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>