<!-- +TODO SET UP CARRIERWAVE TO SAVE PHOTO -->

<!-- +LINK BACKWARDS TO NEW.HTML.ERB TO PICK DIFF FRIEND -->

<%
  $prev = ''
  $next = 'games/new'
%>

<!-- @@@ -->

<section>
  <nav>
    <ul>
      <li class="ss-icon previous">
        <%= link_to "previous", $prev %>
      </li>
      <li class="ss-icon next">
        <%= link_to "next", $next %>
      </li>
    </ul>
    <h1>Take or upload a picture!</h1>
  </nav>
</section>

<div class="camera-icon">
  <!-- on click ask for camera permission -->
  <i class="ss-icon">camera</i>
</div>

<%= render 'form_image' %>