<%
  $next = "javascript:document.getElementById('new_image').submit();"
%>

<!-- @@@ -->

<section>
  <nav>
    <ul>
      <li class="ss-icon home">
        <%= link_to "home", "/" %>
      </li>
      <li class="ss-icon next">
        <%= link_to "next", $next %>
      </li>
    </ul>
    <h1>Choose a picture <br> for your game!</h1>
  </nav>

  <%= render 'form_image' %>

</section>

